<h2 class="mt0 mb4 f2 fw4 tc black-80 lh-title baskerville">{{title}}</h2>

<ul class="list ph0">
  {{#each notes as |note|}}
    <article class="pa4 mb3 bg-near-white note">
      <h3 class="f3 fw5 mt0 mb3 lh-title note-title baskerville">
        <a class="dim link blue bw1 bb">
        {{note.title}}
        </a>
      </h3>
      <div class="f5 mb3 lh-copy note-content">
        {{note.content}}
      </div>
      <div class="f6 note-author">
        <span>by</span> {{note.author}}
      </div>
      <div class="f6 note-category">
        <span>category:</span> {{note.category}}
      </div>
    </article>
  {{/each}}
</ul>
