<div class="dib tc {{unless sticker.completed 'o-50'}} sans-serif">
  <img class="" src="{{sticker.url}}" alt="Badge for sticker {{sticker.url}}" />
  <div class="">
    <h3 class="mt2 mb1 f5 lh-title">{{sticker.title}}</h3>
    <span class="db">{{sticker.category}}</span>
  </div>
  {{!-- <span>{{sticker.description}}</span> --}}
</div>
