{{#if attrs.task}}
  <button disabled={{isDisabled}} class="input-reset dib mr3 f5 pa3 link bw1 ba b--light-blue bg-white black-80
  {{if isDisabled "o-50 disabled" "pointer bg-animate hover-white hover-bg-light-blue"}}"
    onclick={{perform attrs.task}}>
    {{#if attrs.task.isIdle}}
      {{text}}
    {{else}}
      Processing
    {{/if}}
  </button>
{{else}}
  <button disabled={{isDisabled}} class="input-reset dib mr3 f5 pa3 link bw1 ba b--light-blue bg-white black-80
  {{if isDisabled "o-50 disabled" "pointer bg-animate hover-white hover-bg-light-blue"}}"
    onclick={{attrs.action}}>
    {{text}}
  </button>
{{/if}}
