<div class="measure center">
  {{#rev-card
    title='New Note'
    task=createNote
    buttonText='Add Note'
  }}
    <form class="black-80" onsubmit={{perform createNote}}>
      <div class="measure center">
        {{rev-input
          value=note-title
          classNames=''
          label='Title'}}

        {{rev-input
          value=note-author
          classNames=''
          label='Author'}}

        {{rev-input
          value=note-category
          classNames=''
          label='Category'}}

        {{rev-textarea
          rows=4
          value=note-content
          classNames='mb4'
          label='Content'}}
      </div>
    </form>
  {{/rev-card}}
  {{outlet}}
</div>
