{{#burger-menu
  translucentOverlay=true
  dismissOnClick=true
  dismissOnEsc=true
  gesturesEnabled=true
  as |burger|}}
  {{#burger.menu itemTagName="li" as |menu|}}
    <a {{action burger.state.actions.close}} class="close {{burger.state.position}} fa fa-times pointer">x</a>
    <h2><i class="fa fa-bars" aria-hidden="true"></i> Menu</h2>

    <ul>
      {{#menu.item}}
        {{link-to 'About' 'about'}}
      {{/menu.item}}

      {{#if session.currentUser}}
        {{#menu.item}}
          <a onclick={{route-action 'logout'}}>
            Log Out
          </a>
        {{/menu.item}}
      {{else}}
        {{#menu.item}}
            {{link-to 'Log In' 'auth.login'}}
        {{/menu.item}}

        {{#menu.item}}
            {{link-to 'Register' 'auth.register'}}
        {{/menu.item}}
      {{/if}}
    </ul>
  {{/burger.menu}}

  {{#burger.outlet}}
    {{#ember-notify closeAfter=5000 as |message close|}}
      <a {{action close}} class='close black-60'>x</a>
      <span class='message-from-block white'>{{message.text}}</span>
    {{/ember-notify}}

    {{#if isCurrentRouteIndex}}
    <body class="">
      <div class="avenir">
        {{outlet}}
      </div>
    </body>
    {{else}}
    <body class="pt5 pt0-l">
      {{#rev-navbar}}
        <div class="col-xs-4 col-md-12">
          <h1 class="mt0 mb0 mb3-l f3 f2-ns f1-l fredericka fw5">
            <a class="pointer" {{action burger.state.actions.toggle}}>
              Reverie
            </a>
          </h1>
        </div>
      {{/rev-navbar}}

      <div class="avenir">
        {{outlet}}
      </div>

      {{rev-svgs}}
    </body>
    {{/if}}
  {{/burger.outlet}}
{{/burger-menu}}
