{{#ember-notify closeAfter=5000 as |message close|}}
  <a {{action close}} class='close black-60'>x</a>
  <span class='message-from-block white'>{{message.text}}</span>
{{/ember-notify}}

<body class="pt5">
  {{rev-navbar}}

  <div class="mw7-ns pa3 lh-copy black-80 center avenir">
    {{outlet}}
  </div>
</body>

{{rev-svgs}}
