<div class="vh-90 bg-custom-blue overflow-hidden">
  <div class="h-100 row pa3 middle-xs center-xs white">
    <div class="col-xs-12">
      <div class="mt2 tc mw5 center">
        <h1 class="mt0 mb0 f1 fw5 fredericka lh-title">Reverie</h1>
        <h2 class="mt0 mb3 f3 fw5 jos lh-title">Moments, places, people</h2>

        <div class="mb3">
          {{link-to "Register" "auth.register"
          class="db mb2 f5 fw6 pa2 link-bg-animate bg-light-blue hover-bg-navy white"}}

          {{link-to "Log In" "auth.login"
          class="db mb4 f5 fw6 pa2 link-bg-animate bg-white hover-bg-light-blue custom-blue"}}

          {{link-to "Go to notes" "notes.index"
          class="db f5 fw6 pa2 link-bg-animate bg-custom-gray hover-bg-light-blue white"}}
        </div>
      </div>
      {{outlet}}
    </div>
  </div>
</div>

{{rev-about}}
